@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* CSS Variables */
:root {
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
    --primary-color: #96989b;
    --secondary-color: #ef5e09;
    --line-height: 1.7rem;
    --transition: 0.4s ease-in;
}

/* Smooth scroll effect */
html {
    scroll-behavior: smooth;
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
}

body {
    font-family: "Roboto", sans-serf;
}

.logo {
    font-size: 2rem;
    font-weight: 500;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

.cat {
    color: var(--secondary-color);
    animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}


.cat-icon {
    height: 48px;
    margin: 0 5px;
}

.tv {
    color: var(--secondary-color);
}

.hamburger {
    width: 30px;
    height: 22px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.bar {
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 2px;
}



nav {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link {
    font-weight: var(--bold-font);
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.9rem;
    max-width: 1100px;
    margin: 2rem auto -6rem;
}

.intro-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.intro-text h3 {
    margin-bottom: 0.5rem;
}

.main p {
    line-height: var(--line-height);
}

.make {
    color: var(--primary-color);
}

.connecting {
    color: var(--secondary-color);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 0.6rem;
    border: none;
    font-size: 1.4rem;
    border-radius: 5px;
    color: #fff;
}

.red {
    background-color: var(--secondary-color);
    margin-right: 1.5rem;
}

.red:hover {
    background-color: #f1262d;
    color: #fff;
}

.blue {
    background-color: var(--primary-color);
}

.blue:hover {
    background-color: #095cf7;
    color: #fff;
}

iframe {
    max-width: 30rem;
    border-top: 40px groove var(--primary-color);
    border-bottom: 40px groove var(--primary-color);
    border-right: 28px solid var(--secondary-color);
    border-left: 28px solid var(--secondary-color);
}

.stand-1 {
    height: 90px;
    width: 6px;
    background-color: var(--primary-color);
    transform: rotate(40deg);
    position: relative;
    top: -16px;
    left: 200px;
}

.stand-2 {
    height: 90px;
    width: 6px;
    background-color: var(--secondary-color);
    transform: rotate(-40deg);
    position: relative;
    top: -105px;
    left: 255px;
}

.about {
    position: relative;
    background: url("../images/cat-sits-on-sofa-and-watches-tv-2048x1365.jpg") no-repeat top center/cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    /* margin: 2rem 0; */
}

.about h3 {
    font-size: 3em;
    margin-bottom: -20px;
    text-shadow: 2px 2px 2px #333;
}

.about p {
    font-size: 1.8rem;
    text-shadow: 2px 2px 2px #333;
}